<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="2.13.1" targetFramework="net451" />
  <package id="Accord.Controls.Imaging" version="2.13.1" targetFramework="net451" />
  <package id="Accord.Controls.Vision" version="2.13.1" targetFramework="net451" />
  <package id="Accord.Imaging" version="2.13.1" targetFramework="net451" />
  <package id="Accord.MachineLearning" version="2.13.1" targetFramework="net451" />
  <package id="Accord.Math" version="2.13.1" targetFramework="net451" />
  <package id="Accord.Statistics" version="2.13.1" targetFramework="net451" />
  <package id="Accord.Vision" version="2.13.1" targetFramework="net451" />
  <package id="AForge" version="2.2.5" targetFramework="net451" />
  <package id="AForge.Controls" version="2.2.5" targetFramework="net451" />
  <package id="AForge.Genetic" version="2.2.5" targetFramework="net451" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net451" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net451" />
  <package id="AForge.Neuro" version="2.2.5" targetFramework="net451" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net451" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net451" />
  <package id="AForge.Vision" version="2.2.5" targetFramework="net451" />
  <package id="BlockchainAPI" version="1.0.2.0" targetFramework="net451" />
  <package id="CsQuery" version="1.3.4" targetFramework="net451" />
  <package id="DataExtractingSDK" version="1.0.1" targetFramework="net451" />
  <package id="FluentAssertions" version="3.2.1" targetFramework="net451" />
  <package id="Microsoft.Tpl.Dataflow" version="4.5.23" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net451" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net451" />
  <package id="Nito.AsyncEx" version="3.0.0" targetFramework="net451" />
  <package id="Nito.AsyncEx.Dataflow" version="3.0.0" targetFramework="net451" />
  <package id="Nito.AsyncEx.DataflowProxy" version="1.1.0" targetFramework="net451" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net451" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net451" />
  <package id="SkyScraper" version="1.0.45" targetFramework="net451" />
</packages>